body {
	font-family: "Space Mono", monospace;
	background-color: hsl(185, 41%, 84%);
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 6rem;
	margin-top: 10rem;
}

#main {
	background-color: white;
	border-radius: 25px;
	width: 60rem;
	margin-bottom: 16rem;
}

#first-col {
	padding: 4rem 3rem;
	width: 30rem;
}

div.input-group-text {
	border: none;
}

#inputOne,
#inputThree {
	border: none;
	background-color: hsl(189, 47%, 97%);
	text-align: end;
	color: hsl(184, 14%, 56%);
	font-weight: 700;
	font-size: 24px;
	color: hsl(183, 100%, 15%);
}

#input1 {
	margin-bottom: 2rem;
}

label.form-label {
	font-weight: 600;
	font-size: 1rem;
	color: hsl(186, 14%, 43%);
	display: block !important;
}

#selectTip {
	font-weight: 600;
	font-size: 1rem;
	color: hsl(186, 14%, 43%);
	display: block !important;
	margin-bottom: 1rem;
}

#buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-bottom: 2.5rem;
}

div.div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

#label-1,
#label-2,
#label-3,
#label-4,
#label-5 {
	width: 8rem;
	font-weight: 700;
	font-size: 1.5rem;
	border: none;
	color: white;
	background-color: hsl(183, 100%, 15%);
}

#inputTwo {
	background-color: hsl(189, 47%, 97%);
	color: hsl(186, 14%, 43%);
	width: 8rem;
	font-weight: 700;
	font-size: 24px;
	text-align: end;
	border: none;
	color: hsl(183, 100%, 15%);
	text-align: center;
}

#second-col {
	padding: 2rem;
}

#secondColSection {
	background-color: hsl(183, 100%, 15%);
	border-radius: 18px;
	padding: 3rem 1rem;
}

#tipAmount,
#total {
	color: white;
	font-size: 1rem;
	font-weight: 500;
}

#person,
#Person {
	font-size: 0.85rem;
	color: hsl(184, 14%, 56%);
	font-weight: 600;
}

#priceSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

#price,
#price2 {
	color: hsl(172, 67%, 45%);
	font-size: 3rem;
	font-weight: 550;
}

#priceSection2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7rem;
}

#priceFlex,
#priceFlex2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#reset {
	width: 8rem;
	font-weight: 700;
	font-size: 1.5rem;
	border: none;
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
	width: 21rem;
}

#buttonSection {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input-group {
	border-radius: 5px;
}

#errorDiv,
#errorDivTwo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

#error,
#errorTwo,
#errorThree,
#errorFour {
	font-size: 1rem;
	color: rgb(255, 115, 0);
	font-weight: 550;
	display: none;
}

input.form-control::placeholder {
	color: hsl(184, 14%, 56%);
}

#option1:checked+#label-1 {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

#option1:checked+#label-1 {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

#option2:checked+#label-2 {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

#option3:checked+#label-3 {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

#option4:checked+#label-4 {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

#option5:checked+#label-5 {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

#label-1:hover,
#label-2:hover,
#label-3:hover,
#label-4:hover,
#label-5:hover,
#reset:hover {
	background-color: hsl(185, 41%, 84%);
	color: hsl(183, 100%, 15%);
}

input.form-control:focus {
	box-shadow: none !important;
}

@media (min-width: 375px) and (max-width: 1200px) {
	#main {
		width: 96vw;
		margin-bottom: 0;
	}

	#logo {
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	#first-col {
		width: 100vw;
	}

	#buttons {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;

	}

	#label-1,
	#label-2,
	#label-3,
	#label-4,
	#label-5,
	#inputTwo {
		width: 30vw;
	}
}